.product-hero-container{   
  width: 1100px;
  max-width: 100%;   
  box-sizing: border-box;
  padding-top: clamp(80px, 10vw, 100px);
}
.product-Hero-main{
    padding: 0;
    margin: 0 auto;
    padding-top: clamp(40px, 10vw, 80px);
    padding-bottom: clamp(50px, 6vw, 100px);
    border-bottom: 1px solid #eee;
    text-align: center;
}
.product-Hero-main h1{
    margin: 0;
    font-size: clamp(1.5rem,5vw,1.75rem);
    line-height: 1.25;
    font-weight: 500;
    color: #424242;
}
.product-Hero-main .sub-heading{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #424242;
}
.product-Hero-main p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #424242;
    font-weight: 400;
}
.product-Hero-main a{
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
}
.product-Hero-main a:hover{
    color: #444;
    cursor: pointer;
}

