.navbar{
    box-shadow: 1px 1px 3px 0px rgba(151, 150, 150, 0.1); 
    position: fixed;      
    top: 0;              
    left: 0;              
    width: 100%;          
    z-index: 1100;        
    box-shadow: 2px 1px 2px #eee;
    background-color: white; 
}

.nav-body {
    background-color: white;    
    z-index: 1000;
    width: 1100px;
    max-width: 100%;
}
.navbar-brand img{
    max-width: 150px;
    max-height: 100px;
    height: auto;
}
.nav-links{
    list-style: none;
}
.nav-link{
    color: #666;
}
.nav-active{
    text-decoration: none;
    color: #387ed1;
}
.nav-link:hover{
    color: #387ed1;
}
.nav-item{
    font-size: 14.4px;
    align-items: center;
}
.dropdown-box{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    z-index: 1050;
    width: 700px;
    border-radius: 2px;
}
.external-link img{
    max-width: 50px;
}
.external-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.external-link h6{
    font-size: 0.9rem;
    color: #666;
}
.external-link p{
    font-size: 0.8rem;
    color: #9B9B9B;
}
.menu-footer{
    background-color: #fafafb;
}
.menu-foot-item ul{
    list-style: none;
}
.menu-foot-item h6{
    margin-bottom: 1rem;
    color: #424242;
}
.menu-foot-item li{
    margin-bottom: 0.9rem;
    font-size: 0.9rem;
    color: #666;
}
.foot-eduvar img{
    min-height: 35px;
    margin-bottom: 10px;

}
.foot-eduvar h6{
    color: #424242;
}
.foot-eduvar p{
    color: #666;
    font-weight: 400;
}
/* Default: hide mobile */
.dropdown-box.mobile-view {
  display: none;
}

/* Default: show big-screen */
.big-screen {
  display: block;
}

/* Mobile mode (960px and below) */
@media (max-width: 992px) {
  .big-screen {
    display: none;
  }
  .navbar-brand img{
    margin-left: 0.5rem;
  }
  .dropdown-box.mobile-view {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;       
    right: 0px;      
    bottom: 0px;     
    width: 100%;           
    max-width: calc(100vw - 20px); 
    overflow-y: auto;
    overflow-x: hidden; 
    border-radius: 8px;
    background: #fff;
    z-index: 1100;
    padding: 1rem;
  }
  .dropdown-box.mobile-view {
    max-height: 50vh;
}
  .external-link{
    display: flex;
    flex-direction: row;
}
.dropdown-box.mobile-view .close-btn{
    position: absolute;   
    top: 10px;            
    right: 10px;          
    background: none;     
    border: none;         
    font-size: 1.5rem;    
    cursor: pointer;
}

.mv-nav-links {
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
}
.mv-nav-item{
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #444;
}
.mv-nav-item .nav-link{
    color: #444;
}
.mv-external-links{
    border-bottom: 1px solid #e0e0e0;
}
.mv-external-link {
    display: flex;
    gap: 0.6rem;
}
.mv-external-link img{
    max-height: 30px;
}
.var img , .tqna img{
    max-height: 18px;
    margin-left:0.5rem ;
}
.var img{
    margin-right: 0.3rem;
}
.mv-external-link p{
    font-size: 0.9rem;
}
.menu-foot-item{
    list-style: none;
}
}

