.open-account-container {
  padding-left: 1rem;  
  padding-right: 1rem;  
  padding-bottom: clamp(3rem, 5vw, 4rem);       
  box-sizing: border-box;
}
.open-account-main h2{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: #424242;
    margin-bottom: clamp(1rem,5vw,1.5rem);
}
.open-account-main p{
    font-size: 1rem;
    line-height: 1.8;
    color: #666;
}
.Signbtn {
    padding: 30px 30px;
    background-color: #387ed1;
    border-style: none;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-decoration: none;
    margin-top: clamp(1rem,5vw,1.5rem);
}