.hero-container {
  padding-left: 1rem;  
  padding-right: 1rem;  
  padding-bottom: clamp(3rem, 10vw, 10rem); 
  margin-top: 7rem;
  width: 1100px;
  max-width: 100%;       
  box-sizing: border-box; 
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    padding: 0 1rem;
}
.hero img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-bottom: 6rem;
}

.hero h1 {
  font-size: clamp(1.5rem, 5vw, 1.9rem);
}

.hero p {
  font-size: clamp(1.2rem, 3vw, 1.3rem);
}
.hero h1, .hero p{
    color: #424242;
}
.Signbtn {
    padding: 10px 30px;
    background-color: #387ed1;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-decoration: none;
    margin-top: 2rem;
}