.price-container {
  padding-left: 1rem;  
  padding-right: 1rem;  
  padding-bottom: clamp(3rem, 10vw, 10rem); 
  width: 1100px;
  max-width: 100%;       
  box-sizing: border-box; 
}
.price-container-main{
  padding: 0;
  margin: 0;
}
/* .price-container-first{
  padding-left: clamp(0rem,3vw,7rem);
  padding-right: clamp(0rem,5vw,0rem);
} */
.price-container-first h2{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #424242;
  font-weight: 500;
}
.price-container-first p{
  font-size: 1rem;
  line-height: 1.8;
  color: #424242;
  margin-top: 2rem;
}
.price-container-second{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0;
  margin: 0;
}
.price-container-second .price-box {
  position: relative; 
  display: inline-block; 
}

.price-container-second .price-box p {
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 1rem);
  right: clamp(0.5rem, 2vw, 1rem);  
  line-height: 1.4;
  font-size: 0.6rem;
  color: #666;
  font-weight:400 ;
  margin: 0;
}

.price-container-second .price-box img {
  width: clamp(5rem, 10vw, 7.5rem);
  display: block;
}
.price-anc a{
  text-decoration: none;
  font-weight: 500;
  color: #387ed1;
}
/* .price-anc{
  padding-left: clamp(0rem,3vw,7rem);
} */

.price-container-second .price-box:nth-child(1) p {
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 1rem);
  left: clamp(4.5rem, 8vw, 7rem);
}

.price-container-second .price-box:nth-child(2) p {
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 1rem);
  left: clamp(4.5rem, 8vw, 7rem);
}

.price-container-second .price-box:nth-child(3) p {
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 1rem);
  left: clamp(4.5rem, 8vw, 7rem);
}