.stat-container-main{
    margin-top: clamp(3rem,5vw,0vw);
    padding-bottom: clamp(3rem, 10vw, 10rem);
    width: 1100px;
    max-width: 100%; 
}
.stat-container-second img{
    max-width: 95%;
    width: auto;
}
.stat-container-second{
    padding-right: clamp(1rem,5vw,1rem);
}
.stat-container-first {
    padding-left: clamp(1rem,5vw,1rem);
    padding-right: clamp(1rem,5vw,5rem);
}
.stat-container-first h2{
    font-size: clamp(1rem,5vw,1.5rem);
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #424242;
}
.stat-container-first h3{
    font-size: 1.25rem;
    line-height: 1.6;
    color: #424242;
}
.stat-container-first p{
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 2rem;
}
.stat-container-anc {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;
}
.stat-container-anc a{
    text-decoration: none;
    color: #387ed1;
    font-weight: 500;
}
 .stat-press img{
    margin-top: 3rem;
    max-width: 90%;
 }
@media (max-width:992px) {
    .stat-press img{
        width:100%;
        margin-top: 5rem;
    }
}