.about-people{
  padding-left: 1rem;  
  padding-right: 1rem; 
  padding-top: clamp(80px, 10vw, 150px);   
  padding-bottom: clamp(40px, 5vw, 100px);   
  width: 1100px;
  max-width: 100%;    
  box-sizing: border-box; 
}
.mini-container{
    width: 900px;
    width: 100%;
    margin: 0 auto;
}
.mini-container h2{
    text-align: center;
    color: #424242;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 20px;
}
.team-head{
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 100px;
}
.team-head-one{
    margin: 0;
    padding: 0;
    text-align: center;
}
.team-head-one img{
    height: 295px;
    max-width: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
}
.team-head-one h5{
    font-size: 1.125rem;
    font-weight: 400;
    color: #424242;
}
.team-head-one p{
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #666;
}
.team-head-two{
    margin: 0;
    padding: 0;
}
.team-head-two p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}
.team-head-two a{
    font-weight: 500;
}
.team-member-container{
    padding: 20px 50px;
    text-align: center;
}
.team-member-container img{
    width: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
}
.team-member-container h5{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.7;
    color: #424242;
}
.team-member-container p{
    font-size: 0.9rem;
    line-height: 1.8;
    color: #666;
}
.team-member-container a{
    text-decoration: none;
    color: #424242;
}
.team-member-container .mem-inf{
    display: none;
    padding: 15px 0px;
    text-align: left;
}
.team-member-container .visible{
    display: block;
}
.team-member-container .mem-inf p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}