.Pricing-heading-container{
    width: 1100px;
    max-width: 100%;   
    box-sizing: border-box;
    padding-top: clamp(80px, 10vw, 200px);
    padding-bottom: 100px
}
.Pricing-heading h1{
    font-size: clamp(1.60rem,5vw,1.75rem);
    line-height: 1.25;
    font-weight: 500;
    color: #424242;
    margin: 0;
    margin-top: 1.3rem;
}
.Pricing-heading p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #9b9b9b;
}
@media (max-width:767px) {
    .Pricing-heading-container{
        padding-bottom: 10px;
    }
}
